* {
    box-sizing: border-box;
}
body {
    background-color:#d2dbdc;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app-window {
    display: flex;
    height: 100vh;
    background-color: #ededed;
}
.sidebar {
    width: 35%;
    max-height: 415px;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid #d2dbdc;
}
.contentarea {

}